body{
    background-color: black;
}
h1{
    color: crimson;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: crimson;
    font-family:Georgia, 'Times New Roman', Times, serif
}
p{
    color:beige;
    font-family:Georgia, 'Times New Roman', Times, serif
}