body{
    background-color: black;
}
h1{
    color: green;
    font-family: 'Rampart One';
    text-align: center;
    font-size: 5rem;
}
h2{
    color: green;
    font-family: 'Rampart One';
    font-size: 3rem;
}
p{
    color: darkolivegreen;
    font-family: 'Rampart One';
    font-size: 2rem;
}